---
- name: Configure unattended-upgrade
  block:
    - name: Add Ansible blockinfile header
      ansible.builtin.lineinfile:
        insertbefore: ^Unattended-Upgrade::Origins-Pattern {
        line: // BEGIN ANSIBLE MANAGED BLOCK
        path: /etc/apt/apt.conf.d/50unattended-upgrades

    - name: Add Ansible blockinfile footer
      ansible.builtin.lineinfile:
        # Note that relying on firstmatch here could be a little
        # fragile
        firstmatch: yes
        insertafter: ^};$
        line: // END ANSIBLE MANAGED BLOCK
        path: /etc/apt/apt.conf.d/50unattended-upgrades

    - name: Configure unattended-upgrade to only apply security updates
      ansible.builtin.blockinfile:
        block: |
          // Only autoapply security updates
          Unattended-Upgrade::Origins-Pattern {
              "origin=${distro_id},codename=${distro_codename},label=${distro_id}-Security";
          };
        # We can't use the default marker here because the apt config
        # files don't accept that form of commenting.
        marker: // {mark} ANSIBLE MANAGED BLOCK
        path: /etc/apt/apt.conf.d/50unattended-upgrades

- name: Enable unattended-upgrades service
  ansible.builtin.service:
    name: unattended-upgrades
    enabled: yes
